.title{
    text-align: center;
    margin-top: 5rem;
}
form{
    text-align: center;
}
.button {
    padding: 5px 20px;
    background-color: rgba(209, 209, 209, 0.336);
    border-radius: 25px;
    border: 1px solid #4b4b4b;
    width: fit-content;
    margin: 4rem auto;
    margin-bottom: 1rem;
    transition: .2s all;
    cursor: pointer;
    object-position: center;
}
.button:hover {
    background-color: rgba(209, 209, 209, 0.782);
}